h1 {
	font-family: 'Dekko', cursive;
}
#red {
	background-color: red;
	width: 20px;
	height: 20px;
	border:1px solid #000000;
}

#orange {
	background-color: orange;
	width: 20px;
	height: 20px;
	border:1px solid #000000;
}

#yellow {
	background-color: yellow;
	width: 20px;
	height: 20px;
	border:1px solid #000000;
}

#green {
	background-color: lime;
	width: 20px;
	height: 20px;
	border:1px solid #000000;
}

#blue {
	background-color: aqua;
	width: 20px;
	height: 20px;
	border:1px solid #000000;
}

#indigo {
 	background-color: blue;
 	width: 20px;
	height: 20px;
	border:1px solid #000000;
}

#purple {
	background-color: darkviolet;
	width: 20px;
	height: 20px;
	border:1px solid #000000;
}

#white {
	background-color: white;
	width: 20px;
	height: 20px;
	border:1px solid #000000;
}

#selectedColorName {
	width: 30px;
	height: 30px;
	border:1px solid #000000;
}

#erase {
	width: 40px;
	height: 20px;
	border:1px solid #000000;
	font-family: 'Dekko', cursive;
}

#canvas1 {
	width: 30px;
	height: 30px;
	border:1px solid #000000;
}

#canvas2 {
	width: 30px;
	height: 30px;
	border:1px solid #000000;
}

#canvas3 {
	width: 30px;
	height: 30px;
	border:1px solid #000000;
}

#canvas4 {
	width: 30px;
	height: 30px;
	border:1px solid #000000;
}

#canvas5 {
	width: 30px;
	height: 30px;
	border:1px solid #000000;
}

#canvas6 {
	width: 30px;
	height: 30px;
	border:1px solid #000000;
}

#canvas7 {
	width: 30px;
	height: 30px;
	border:1px solid #000000;
}

#canvas8 {
	width: 30px;
	height: 30px;
	border:1px solid #000000;
}

#canvas9 {
	width: 30px;
	height: 30px;
	border:1px solid #000000;
}